body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #242020;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.left{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-inline: 1rem;
  cursor: pointer;
}
.left img{
  width: 60px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #292828;
  color: white;
}

#span-text{
  font-size:large;
  color: gray;
  font-weight: 200;
}
input{
  padding: 10px;
  border-radius: 5px;
  width: 40vw;
  background-color: #292828;
  border:1px solid gray;
  margin: 10px;
  color: gray;
  outline: none;
  padding-left: 50px;
}
.center{
  position: relative;
}
#mag-glass{
  cursor: pointer;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%); 
  color: gray;
}
input:hover{
  outline: none;
  color: gray;
}
#search-btn{
  padding: 10px;
  border-radius: 5px;
  background-color: #292828;
  border:1px solid gray;
  color: gray;
  cursor: pointer;
}
#search-btn:hover{
  cursor: pointer;
  color:#292828;
  background-color: white;
}

.right{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  font-size: large;
  margin-inline: 1rem;
  cursor: pointer;
}
.right img{
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
}
.home{
  margin:40px auto;
  width: 90vw;
  text-align: left;
}
.books-container{
  display: grid;
  grid-template-columns:repeat(6,1fr);
  gap: 20px;
  align-items: center;
  width: 90vw;
  margin: 40px auto;
}
.book{
  width: 80%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0px 7px 4px 0px #6E6E6E40;
  ;
}
.book:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}



.book-div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 30vh;
}
.book-hero-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
  flex-wrap: nowrap;
  overflow: scroll;
  overflow-y:visible;
}
.book-hero-section::-webkit-scrollbar{
  display: none;
}